services:
  nginx:
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
    image: "airdb/nginx:latest"
    volumes:
      - ./:/srv
    environment:
      - TZ=Asia/Shanghai
    ports:
      - 8080:80
    container_name: nginx
