services:
  postgres:
    container_name: postgres
    image: postgres:18
    restart: always
    environment:
      - TZ=Asia/Shanghai
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    #ports:
    #  - '5432:5432'
    volumes:
      - pgsql:/var/lib/postgresql/18/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./ipdb:/opt
volumes:
  pgsql:
    driver: local
